<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar" style="background-color: #183D3D; ">
            <div class="container-fluid">
                <a class="navbar-brand" style="color:#F3F3F3; " th:href="@{/}">INICIO</a>

            </div>
        </nav>
        <br>
    </header>

    <footer th:fragment="footer" class="footer fixed-bottom">
        <div class="card" style="background-color: #183D3D; color:#F3F3F3 ;">
            <div class="card-header">
                Centro Medico
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <cite>Fernando José Carta Alvarado</cite>
                </blockquote>
            </div>
        </div>
    </footer>
    <script src="../js/bootstrap.js"></script>
</body>

</html>